<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tes | {{showTitle}}</title>
    {{!-- Google Fonts CDN --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">{{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">{{!-- Font Awesome 5.2.0 CDN --}}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">{{!-- Custom CSS --}}
    <link rel="stylesheet" href="/css/main.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light access-navbar">
      {{> _navbar}}
    </nav>
    <main>
      <div class="container access-container">
        {{{ body }}}
      </div>
    </main>

    {{> _libraries}}
  </body>

</html>