<!DOCTYPE html>
<html lang="en-US">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tes Official Website | {{showTitle}}</title>

    {{> _styles}}
    {{!-- Google reCAPTCHA --}}
    <script src="//www.google.com/recaptcha/api.js" async defer></script>
  </head>

  <body class="main-body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark main-navbar shadow-sm" role="navigation">
      {{> _navbar}}
    </nav>

    <main class="main" role="main">
      <div class="container">
        {{{ body }}}
      </div>
    </main>

    {{> _footer}}
    {{> _libraries}}
    {{!-- Kontaktify Widget --}}
    <script src='//www.kontaktify.com/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiIxMTExMTEiLCJjdXN0b21Db2xvciI6dHJ1ZSwiaWNvbiI6ImJ1YmJsZSIsInByb25vdW4iOiJtZSIsImxhbmd1YWdlIjoiZW4iLCJicmFuZGVkIjp0cnVlLCJpbnRyb1RleHQiOiIiLCJjaGFubmVscyI6W1siZ2l0aHViIiwiaHR0cHM6Ly9naXRodWIuY29tL1RlczNhd3kiLCJzb2NpYWwiXSxbInlvdXR1YmUiLCJodHRwczovL3d3dy55b3V0dWJlLmNvbS9jL0dFRUtMRUFLMjUiLCJzb2NpYWwiXSxbInBob25lIiwiKzIwMTAxNjExMTcwNiIsImNsYXNzaWMiXSxbImVtYWlsIiwib2FiYmFzMjUxMkBnbWFpbC5jb20iLCJjbGFzc2ljIl1dfQ==' async></script>
  </body>

</html>
