<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tes | {{showTitle}}</title>

    {{> _styles}}
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light main-navbar shadow-sm">
      {{> _navbar}}
    </nav>

    <main class="main">
      <div class="container">
        {{{ body }}}
      </div>
    </main>

    {{> _footer}}
    {{> _libraries}}
    {{!-- Kontaktify Widget --}}
    <script async src='https://www.kontaktify.com/embed.js?eyJwb3NpdGlvbiI6InJpZ2h0IiwiY29sb3IiOiI2ZjQyYzEiLCJjdXN0b21Db2xvciI6dHJ1ZSwiaWNvbiI6InBhY21hbiIsInByb25vdW4iOiJtZSIsImxhbmd1YWdlIjoiZW4iLCJicmFuZGVkIjp0cnVlLCJpbnRyb1RleHQiOm51bGwsImNoYW5uZWxzIjpbWyJ0d2l0dGVyIiwiT3NhbWFUZXMiLCJzb2NpYWwiXSxbImxpbmtlZGluIiwiaHR0cHM6Ly93d3cubGlua2VkaW4uY29tL2luL29hYmJhcy8iLCJzb2NpYWwiXSxbInBob25lIiwiKzIwMTAxNjExMTcwNiIsImNsYXNzaWMiXSxbImVtYWlsIiwib2FiYmFzMjUxMkBnbWFpbC5jb20iLCJjbGFzc2ljIl1dfQ=='></script>
  </body>

</html>
