<p class="text-right text-muted">{{getToday}}</p>
<h1 class="mb-4">About Page</h1>
<div class="row">
  <div class="col-sm-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus voluptatem quisquam cupiditate voluptate labore soluta nemo impedit, porro, nisi et voluptas quod facere consequatur placeat repudiandae quasi in, harum aliquid?. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam pariatur, laboriosam perspiciatis sequi tempora nobis sed, aliquid fugit rerum eaque repellat repellendus. Quos nihil quod eos laborum minima blanditiis nostrum?</p>
  </div>
  <div class="col-sm-8">
    <div class="about-bg" title="Tes official website"></div>
  </div>
</div>
