<h1>Contact us</h1>

<div class="col-md-6 mx-auto">
  {{!-- Success Messages --}}
  {{#if success}}
    <div class="alert alert-success alert-dismissible fade show mb-4" role="alert">
      <span><i class="far fa-thumbs-up"></i> {{success}}</span>
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
    </div>
  {{/if}}
  {{!-- Error Handling --}}
  {{#if error}}
    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
      <span><i class="far fa-check-times"></i> {{error}}</span>
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
    </div>
  {{/if}}
</div>

<div class="row">
  <div class="col-md-6">
    <div id="map" style="height: 100%;"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGUeK-GV2rwEAMBvi_jPlyzo1ij-OBaX0&callback=initMap"
    async defer></script>
  </div>
  <div class="col-md-6">
    <div class="card border-0 shadow contact-form-card">
      <div class="card-body">
        <h2 class="text-center text-dark my-4">Contact form</h2>
        {{!-- Contact Form --}}
        <form method="POST">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your full name" name="name" minlength="8" required autofocus>
          </div>
          <div class="form-group">
            <input type="email" class="form-control email-input-class" placeholder="Your email address" name="email" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Your subject" name="subject" required>
            <small class="text-info">Short and descriptive as possible</small>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="10" placeholder="Any Suggestions or comments?" maxlength="500"
              required></textarea>
            <small id="suggestionCount" class="text-muted">Maximum 500 characters</small>
          </div>
          <div class="text-center">
            <button class="btn btn-outline-success btn-lg" type="submit"><i class="far fa-paper-plane pr-2"></i> Send</button>
          </div>
        </form>
        {{!-- End of Contact Form --}}
      </div>
      {{!-- Envelope style --}}
      <div class="envelope"></div>
    </div>
  </div>
</div>
