<h1>Contact us</h1>

<form action="" method="POST">
  <div class="form-row">
    <div class="col-sm-6">
      <div class="form-group">
        <input type="text" class="form-control shadow" placeholder="Your full name" required>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <input type="email" class="form-control shadow" placeholder="Your email address" required>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control shadow" name="suggestion" rows="10" placeholder="Any Suggestions?" required></textarea>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="btn btn-success btn-lg" type="submit"><i class="far fa-paper-plane pr-2"></i> Send</button>
  </div>
</form>
