/* Main CSS File */
body {
  font-size: 75%;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.main-navbar {
  margin-bottom: 2rem;
}

.form-access {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.access-container {
  height: calc(100vh - 50px);
  position: relative;
}

.input-group-append {
  cursor: pointer;
}

.email-input-class {
  color: rgba(73, 80, 87, 0.8);
}

.position-text {
  display: inline-block;
  background-color: rebeccapurple;
  padding: 12px;
}

button[class="close"] {
  font-size: 1.2rem;
}

input[name="name"] {
  text-transform: capitalize;
}

.alert {
  padding: .75rem .75rem;
}
