/* Main CSS File */
body {
  font-size: 75%;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.main-navbar {
  margin-bottom: 2rem;
  position: relative;
}

.form-access {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 330px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

.access-container {
  height: calc(100vh - 50px);
  position: relative;
}

.input-group-append {
  cursor: pointer;
}

.email-input-class {
  color: rgba(73, 80, 87, 0.95);
}

.position-text {
  display: inline-block;
  background-color: rebeccapurple;
  padding: 12px;
}

.profile-container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 90%;
}

button[class='close'] {
  font-size: 1.2rem;
}

input[name='name'] {
  text-transform: capitalize;
}

.alert {
  padding: 0.75rem 0.75rem;
}

.main-card:not(:last-child) {
  margin-bottom: 15px;
}

.post-col {
  margin-bottom: 35px;
}

.post {
  border: 0;
  position: relative;
}

.post-title {
  margin-bottom: 25px;
}

.post-border-style {
  width: 8px;
  background-color: rebeccapurple;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  position: absolute;
  left: -8px;
  top: 0;
  height: 100%;
}

.posts-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  border: 0;
  border-color: transparent;
  position: relative;
}

.posts-list-item {
  display: inline-block;
}

.post-img {
  width: 30%;
}

.post-img img {
  width: 100%;
}

#previewImageContainer img {
  max-width: 25%;
  max-height: 25%;
}

.post-desc {
  vertical-align: middle;
  width: 69%;
  /* position: relative; */
}

.post-desc .desc {
  height: 100%;
  padding: 20px 15px;
}

.add-post-btn-container {
  margin-bottom: 30px;
}

.custom-file-label,
.custom-file-label:after {
  line-height: 2;
}

.custom-file-label:after {
  width: 75px;
  text-align: center;
}

.post-tag-wrapper {
  position: absolute;
  top: -18px;
  right: -8px;
  background-color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  overflow: visible;
}

a[data-toggle='lightbox'] {
  display: block;
  height: 100%;
  width: 100%;
}

.ekko-lightbox .modal-body {
  padding: 0;
}

.ekko-lightbox .modal-content {
  border: 0;
}

@media (max-width: 768px) {
  .navbar-container {
    box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar-brand {
    margin-bottom: 2px;
    margin-right: 0;
  }
  .nav-name {
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar::after {
    content: '';
    position: absolute;
    right: 34%;
    bottom: 0;
    width: 30%;
    height: 2px;
    background-color: rebeccapurple;
  }
  .post-desc {
    width: 100%;
  }
  .post-img {
    width: 100%;
    text-align: center;
  }
  .post-tag-wrapper {
    right: 0;
    top: -18px;
  }
  .post-tag {
    border-radius: 50%;
  }
  .post-border-style {
    display: none;
  }
}
