<div class="row">
    <div class="col-sm-6 col-lg-4 mx-auto">
        <div class="card text-white bg-secondary shadow border-primary profile-card">
            <div class="card-body">
                <div class="img-container text-center mb-3">
                    <img class="rounded-circle" src="{{user.gravatar}}" alt="{{capitalize user.name}} Photo" title="{{capitalize user.name}} Photo" width="55" height="55">
                </div>
                <div class="card-description text-center">
                    <h2>{{capitalize user.name}}</h2>
                    <h3 class="position-text">Web Developer</h3>
                </div>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate nobis consectetur in quam tempora minus.
                </p>
            </div>
        </div>
    </div>
</div>
