<div class="row">
    <div class="col-sm-8 mx-auto">
        <form action="/posts/add" method="POST" enctype="multipart/form-data" runat="server">
            <h2 class="mb-0">Add new article</h2>
            <hr class="bg-primary" style="max-width: 11%; margin-left: 0;">
            {{#if error}}
                {{#each error}}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <span>{{msg}}</span>
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                    </div>
                {{/each}}
            {{/if}}
            {{!-- Check Featured article or not --}}
            <div class="form-group">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="featured" id="featured" value="true" required>
                    <label class="form-check-label" for="featured">Featured article</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="featured" id="notFeatured" value="false" checked required>
                    <label class="form-check-label" for="notFeatured">Not</label>
                </div>
            </div>
            {{!-- Title --}}
            <div class="form-group">
                <input class="form-control post-comp" type="text" name="title" placeholder="Article title" minlength="10" required>
                <small class="text-muted title-count"></small>
            </div>
            {{!-- TinyMCE Textarea --}}
            <div class="form-group">
                <textarea id="tinymce" class="form-control post-comp" name="content" placeholder="Article content" minlength="300"></textarea>
                <small class="text-muted content-count">Must be <span class="text-success">300 characters</span> or more</small>
            </div>
            {{!-- File Upload --}}
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputImage" accept="image/*" name="image" required>
                        <label class="custom-file-label" for="inputImage">Choose article image</label>
                    </div>
                </div>
            </div>
            {{!-- Image Preview and Name --}}
            <small class="text-monospace d-block pt-2" id="image-name"></small>
            <div class="mb-2" id="previewImageContainer">
                <img src="#" id="#previewImage" title="Image to upload" required>
            </div>
            {{!-- Warning --}}
            <small class="text-muted d-block mb-2">Anything except
                <span class="text-danger">image</span> will fail the
                <span class="text-danger">form</span> from submitting</small>
            <div class="text-right">
                <input class="btn btn-info" type="submit" value="Add article">
            </div>
        </form>
    </div>
</div>