
{{#each posts}}
{{/each}}

<div class="row">
    {{!-- Loop starts here --}}
    <div class="col-sm-6 post-col">
        <div class="card shadow post">
            <ul class="posts-list">
                <li class="posts-list-item post-img">
                    <img src="/favicon.ico" alt="Post Image">
                </li>
                <li class="posts-list-item post-desc">
                    <div class="desc">
                        <h2 class="text-dark">Title</h2>
                        <p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint harum, nemo, voluptas modi praesentium
                            vel esse aut ipsa debitis eveniet neque iure, molestiae officia nobis sit asperiores! Illo, dicta
                            obcaecati!</p>
                        <p class="text-right mb-0">
                            <a class="btn btn-secondary" href="#">Read more</a>
                        </p>
                    </div>
                    {{!-- Post extra features --}}
                    <div class="post-tag shadow" title="Likes: ">
                        <i class="far fa-meh text-warning"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {{!-- Loops ends here --}}
</div>